page-data {


.check-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.alert-success {
        // padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        text-align: center;
}

.alert-danger {
        // padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        text-align: center;
    }


.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 20px;


}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 16px;
    padding: 12px;

}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}


.list-group-item:last-child {
        border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;


}



}
